/*=======重置======*/
body,div,header,img,span,footer{
padding:0;margin:0;
}
body{
background-color:#29bde0 !important;
}
/*======投票======*/
.more,.cancel{
margin:20px 10px;
float:left;
}
.cancel{
float:right;
}
header{
position:fixed;
top:0;
left:0;
right:0;
height:50px;
line-height:50px;
text-align:center;
background-color:#29bde0;
color:#fff;
font-size:20px;
}
.col-xs-4{position:static !important;/***position设为默认值，头像不会遮挡顶部***/}
/*======主体======*/

.main{
background-color:#29bde0;
margin-top:50px;
margin-bottom:70px;
left:0;
right:0;
}
.main p{
font-size:16px;
color:#fff;
margin:5px 50px;
overflow-y: auto;
overflow-x: hidden;

}

/*=======音频======*/
.main-head{
height:100px;
}
.music{
background-color:#b9e9f5;
line-height:50px;
font-size:16px;
}
div.music span{
margin-left:30px;
}
div.music .img{
display:inline-block;
float:right;
margin:15px 5px;
}

.bg{
background:url("img/vote/img.png")  no-repeat #29bde0;
margin:0 50px;
}

/*======头像=======*/
.avatar{
margin-top:30px;
}
.box{
border:3px solid #fff;
width:76px;
height:76px;
margin:0 auto;
}
.top-box{
width:100%;
height:50px;
background:#F3C881;
font-size:16px;
line-height:50px;
text-align:center;
}
.bottom-box{
height:20px;
text-align:center;
background:#82AF9B;
color:#fff;
}

/*=======头像结束======*/
/*=======图标显示======*/
.icons{
margin:0 auto;
text-align:center;
height:50px;
}

div.col-xs-4 .img{
display:inline-block;
margin:10px 2px;
}
.hid{
display:none;
height:50px;
}
.try{
width:100px;
margin:0 auto;

text-align:center;
}
.try:hover{cursor:pointer;}
.try:hover .hid{
display:block;
}

.icons:hover .hid{
display:none;
}
/*=======图标显示结束======*/




/*=====底部======*/
footer{
position:fixed;
bottom:0;
left:0;
right:0;
height:90px;
text-align:center;
background-color:#29bde0;
color:#fff;
font-size:20px;
}
footer button{
background-color:#F8B445;
width:200px;
height:50px;
line-height:50px;
margin:20px auto;
border:0;
color:#fff;
}
/*======底部结束======*/
/*======图片======*/
.img{background:url("img/vote/img.png")  no-repeat;}
.target{height:15px;width:15px;background-position:-67px -61px;}
.knife{height:15px;width:15px;background-position:0 -60px;}
.bg{height:13px;width:15px;background-position:-14px -32px;}
.glass{height:15px;width:16px;background-position:-34px -62px;}
.cross{height:15px;width:16px;background-position:-94px -62px;}
.cancel{height:18px;width:19px;background-position:-74px 0;}
.more{height:20px;width:20px;background-position:-10px 0;}
.icon-radio{height:27px;width:27px;background-position:-69px -25px;}
/*======媒体查询====

.knife,.cross,.glass,.target{
background:url("img/vote/img.png")  no-repeat;
background-size:77px,54px;
}
.knife{height:11px;width:11px;background-position:0 -42px;}
.cross{height:11px;width:11px;background-position:-66px -43px;}
.glass{height:11px;width:11px;background-position:-24px -43px;}
.target{height:11px;width:11px;background-position:-47px -43px;}


*/
@media screen and (max-width:350px){

.try{
width:auto;
}
div.col-xs-4 .img{
margin:1rem 0;
}
	p,span,.main p{
	font-size:14px;
	}
	header span{
	font-size:20px;
	}

}
