/******重置*******/
*{
	padding:0;margin:0;
}
html{
	font-size:625%;
}
body{
	position: relative;

}
ul,li{
	list-style:none;
}
/******头部******/
header{
	background-color: #5fc0cd;
	position: fixed;
	top: 0;
	width: 100%;
	height: 4.7rem;
	text-align: center;
	line-height: 4.5rem;
}
header button:first-child{
	border: 0;
	background: #55a8b3;
	color:#fff;

}
header button:last-child{
	border: 0;
	color: #5fc0cd;
	background: #fff;
}
.biggoal{
	position:absolute;
	right:1rem;
	top:4px;
}
/*****下拉表单******/
.listheader{
	margin-top: 4.5rem;
	border-bottom: 1px solid #ccc;

}
div.listheader:last-child{
	padding:0;
}
div.listheader button{
	font-size: 1.5rem;
	color: #ccc;
}
.dropdown{
	text-align: center;
}
.center{
	border-right: 1px;
	border-left: 1px;
	border-top: 0;
	border-bottom: 0;
	border-style: solid;
    -webkit-border-image: 
      -webkit-linear-gradient(#fff , #ccc, #fff) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#fff , #ccc, #fff) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#fff , #ccc, #fff) 1 100%;
    border-image:
      linear-gradient(to bottom, #fff , #ccc, #fff) 1 100%;
}
/*****主体*****/
div.list li{
	line-height: 20px;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}
li span{
	padding-left: 1.3rem;
	color: #ccc;
}
.left{
	padding-left: 3.4rem;
	color: black;
}
.right{
	float: right;
	padding-right: 2rem;
	color: red;
}
a{
	font-weight: bold;
	color: #5fc0cd;
}
/*******底部*****/
footer div{
	text-align: center;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}


.middle{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
p{
	color: #5fc0cd;
}
.gray{
	color:#ccc;
}

.round{
	background-color: #5fc0cd;
	width:5rem;
	height:5rem;
	border-radius:50%;
	position:relative;
	left:50%;
	top:50%;
	transform:translate(-50%);
}

footer{
	border-top: 1px solid #ccc;
	position: fixed;
	bottom: 0;
	height: 6rem;
	width: 100%;
	left: 0;
	right: 0;
	background-color: #f8fafb; 
}


/******图片******/

img,header span,.middle,.home,.my{background:url('images/img.png') no-repeat; overflow:hidden;}


.goal{height:23px;width:19px;background-position: 0 0;}
.date{height:24px;width:24px;background-position: 0 -50px;}
.middle{height:41px;width:40px;background-position: 0 -100px;}
.biggoal{height:44px;width:42px;background-position: 0 -200px;}
.my{height:41px;width:42px;background-position: 0 -150px;}
.home{height:40px;width:46px;background-position: 0 -250px;}
