/*====重置=====*/
html{
font-size:625%;
}

body,div,header,footer,nav,p,span,a,ul,li{
margin:0;
padding:0;
}
ul{
display:inline-block;
list-style:none;
}
a,li{
text-decoration:none !important;
}

span{
display:inline-block;
}
.title{
margin-top:1rem;
margin-bottom:.5rem;
font-size:18px;
font-weight:bold;
color:#333;
text-align:center;
}
/*=====重置结束=====*/
/*====字体定义====*/
.gray{
font-size:14px;
color:#A9A9A9;
}
.red{
color:red;
}
/*======头部=====*/
/*联系方式*/
.contact-banner{
padding:5px 15px;
}
header .tel{
color:#29B078;
}
.tel{
line-height:29px;
}
header div.text-right span{
position: relative;
top: 3px;
margin-left:0.2rem;
}

/*联系方式结束*/
.jnshu-logo{
line-height:100px;
}
header>nav {
height:1rem;
background-color:#29B078;
}
header>nav .container{
height:100px;
}
header>nav li{
padding:0 !important;
text-align:center;
}
header>nav a{
display:inline-block;
padding:0 20px;
height:100px;
font-size:16px;
color:white;
line-height:100px;
}
header>nav a:hover,header>nav a:visited{
border-bottom:3px solid #fff;
color:#fff;
}
.navbar-nav{
height:100px;
padding-right:0;
margin:0;
}

#dropdown{
display:none;
height:37px;
width:40px;
margin-right:20px;
border-radius:5px;
position:relative;
top:50%;
transform: translateY(-50%);
line-height:37px;
text-align:center;
}
#dropdown:hover {
background:#218D60;
}
#dropdown-content{
display:none;
background:#29B078;
border-top:1px solid #ccc;
}
#dropdown-content ul{
width:100%;
}
#dropdown-content li{
list-style:none;
text-align:center;
line-height:50px;
font-size:16px;
}
#dropdown-content a{
color:#fff;
}
/*======头部结束=====*/
/*======主体========*/
/*====main====*/
.main{
background:#FAFAFA;
}
.indexNavBar{
margin:0 15px;
border-bottom:1px solid #D0D6D9;
font-size:16px;
line-height:80px;
}
.indexNavBar a{
color:#29B078;
}

.orientationNavBar{
margin:0 15px;
line-height:60px;
border-bottom:1px solid #EDF1F2;

}
.orientationNavBar span {
padding-right:20px;
color:#ccc;
}
.orientationNavBar span a{
padding:3px;
color:#000;
}
.orientationNavBar span a:hover{
background:#29B078;
color:#fff;
}
/*main结束*/
/*====内容====*/
.content{
background:#FAFAFA;
}
.orientation-title{
margin:0 15px;
line-height:80px;
font-size:16px;
font-weight:bold;
}
.content-head div{
display:inline-block;
}
.content-head span{
vertical-align:middle;
}
summary{
background:#fff;
border:1px solid #ccc;
border-radius:5px;
}
.photo{
position:relative;
right:-0.1rem;
padding:20px 0;
width:40%;
}
.photo img{
width:90%;
}
.description{
position:relative;
width:55%;
}
.description b{
display:inline-block;
margin-bottom:10px;
font-size:16px;
font-weight:bold;
}
.threshold-complexity{
line-height:40px;
border-top:1px solid #ccc;
}
img[src="images/star.png"]{
line-height:60px;

padding-left:10px;
}
.complexity,.rareness{
border-left:1px solid #ccc;
}
.growing .red{
padding-left:10px;
}
.rareness .red{
padding-left:10px;
}
.treatment{
border-top:1px solid #ccc;


}
.treatment-title{
text-align:center;
line-height:106px;
}
.treatment-content{
border-left:1px solid #ccc;
border-bottom:1px solid #ccc;
}
.treatment-content:last-child{
border-bottom:0;
}
.studying{
border-top:1px solid #ccc;
border-bottom:1px solid #ccc;
padding:0 15px;
}
.reminder{
padding:0 15px;
font-size:10px;
}
/*====图片===*/
.img{background:url("images/img.png")  no-repeat;}
.wechat{height:24px;width:25px;background-position:0 0;}
.weibo{height:24px;width:25px;background-position:-40px 0;}
.qq{height:24px;width:25px;background-position:-80px 0;}

/*多媒体查询*/
@media screen and (max-width:439px){
	.contact{
	display:none;
	width:0%;
	}
	.tel{
	width:100%;
	}
	.photo{
	width:40%;
	}
	.description{
	font-size:12px;
	padding-left:20px;
	}
	.body{
	font-size:12px;
	}
	.gray{
	font-size:12px;
	}
}
@media screen and (max-width:767px){
	.navbar-nav a{
	display:none;
	}
	#dropdown{
	display:inline-block;
	}
	
}
@media screen and (max-width:992px){
	.photo{
	width:23%;
	}
}
/*多媒体查询*/

