/******reset******/
body,div,ul,li,p,button,footer,header,nav{
margin:0;
padding:0;
}
footer,header,nav{
display:block;
}
ul,li{
list-style:none;
}
img{
border:0;
}
a{
text-decoration:none;
}

/*布局定位属性 自身属性 文本属性 其他属性 CSS3属性*/
header{
display:table-cell;
position:fixed;
top:0;
width:100%;
background-color:#5fc0cd;
text-align:center;
line-height:5rem;
vertical-align:middle;
}
header button:first-child{
border:0;
background:#55a8b3;
color:#fff;
}
header button:last-child{
border:0;
background:#fff;
color:#5fc0cd;
}

header img{
position:absolute;
right:10px;
top:50%;
transform:translateY(-50%);
}
.menu{	
margin-top:5rem;
border-bottom:1px solid #ccc;
text-align:center;
}
div.row button:first-child{
font-size: 16px;
}
.center {
border-right: 1px;
border-left: 1px;
border-top: 0;
border-bottom: 0;
border-style: solid;
-webkit-border-image: 
  -webkit-linear-gradient(#fff , #ccc, #fff) 1 100%;
-moz-border-image:
  -moz-linear-gradient(#fff , #ccc, #fff) 1 100%;    
-o-border-image:
  -o-linear-gradient(#fff , #ccc, #fff) 1 100%;
border-image:
  linear-gradient(to bottom, #fff , #ccc, #fff) 1 100%;
}


/*******按钮样式覆盖*****/
.btn1:hover,
.btn1:focus,
.btn1:active,
.btn1.active{
border:0;
background:#55a8b3;
color:#fff;}

.btn2:hover,
.btn2:focus,
.btn2:active,
.btn2.active{
border:0;
background:#fff;
color:#5fc0cd;
}
/****按钮样式覆盖结束****/

/*****下拉表单******/
select{
text-align:center;
appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
background: url("img/arrow.png") no-repeat scroll right center transparent;
padding-right:14px;
border: 0;
font-size:16px;
color:#ccc;
}
select::-ms-expand { display: none;}
.form{
padding:10px 0;
}
/*******list*******/
div.list li{
line-height: 30px;
border-bottom: 1px solid #ccc;
font-size: 16px;
}

li span{
padding-left: 1.3rem;
color: #ccc;
}
.left{
padding-left: 3.4rem;
color: black;
}
.right{
float: right;
padding-right: 2rem;
color: red;
}
a{
font-weight: bold;
color: #5fc0cd;
}
/******底部******/

footer{
position: fixed;
bottom: 0;
height: 5rem;
width: 100%;
left: 0;
right: 0;
text-align:center;
background-color: #f8fafb; 
border-top: 1px solid #ccc;


}
p{
color: #5fc0cd;
}
.gray{
color:#ccc;
}
footer div.row{
height:5rem;
}
footer div.col-xs-4{
position:relative;
top:50%;
transform:translateY(-50%);
}
/******图片******/
footer div.col-xs-4{


}
img{
background:url('img/img.png') no-repeat;
overflow:hidden;

}
.goal{height:12px;width:10px;background-position:0 0;}
.date{height:12px;width:12px;background-position:-20px 0;}
.icon-biggoal{height:22px;width:21px;background-position:-50px 0;}
.my{height:21px;width:21px;background-position:-100px 0;}
.home{height:20px;width:23px;background-position:0 -40px;}
.middle{height:47px;width:47px;background-position:-50px -30px;}
 
/*****媒体查询*****/
 @media screen and (max-width: 500px){
            body , select,span{font-size: 12px; }
            .btn1,.btn2{width: 60px;
                font-size: 12px}}
        /*宽度小于等于599px时执行代码*/
